@page
@model www.Pages.MedicoModel
@{
}

<h1>Médico</h1>

<div class="container-fluid">

    <div class="container-fluid">

        <input type="hidden" id="txtid" value="0" />

        <div class="form-group">
            <label for="txtnome">Nome</label>
            <input type="text" class="form-control" id="txtnome" placeholder="Nome">
        </div>

        <div class="form-group">
            <label for="txtdataNascimento">Data de Nascimento</label>
            <input type="date" class="form-control" id="txtdataNascimento" placeholder="Data de Nascimento">
        </div>

        <div class="form-group">
            <label for="txtgenero">Gênero</label>
            <input type="text" class="form-control" id="txtgenero" placeholder="Gênero">
        </div>

        <div class="form-group">
            <label for="txtenderecoResidencial">Endereço Residencial</label>
            <input type="text" class="form-control" id="txtenderecoResidencial" placeholder="Endereço Residencial">
        </div>

        <div class="form-group">
            <label for="txtnumeroTelefone">Número de Telefone</label>
            <input type="text" class="form-control" id="txtnumeroTelefone" placeholder="Número de Telefone">
        </div>

        <div class="form-group">
            <label for="txtemail">E-mail</label>
            <input type="email" class="form-control" id="txtemail" placeholder="E-mail">
        </div>

        <div class="form-group">
            <label for="txtcrm">CRM</label>
            <input type="text" class="form-control" id="txtcrm" placeholder="CRM">
        </div>

        <div class="form-group">
            <label for="txtespecializacao">Especialização</label>
            <input type="text" class="form-control" id="txtespecializacao" placeholder="Especialização">
        </div>

        <button type="button" id="btnsalvar" class="btn btn-primary">Salvar</button>
        <button type="button" id="btnlimpar" class="btn btn-primary">Limpar</button>

        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Visualizar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody id="tabelaMedico">
            </tbody>
        </table>

        <table style="display:none">
            <tr id="linhaMedico">
                <th scope="row" class="codigo"></th>
                <td class="nome"></td>
                <td><a href="#" class="alterar">Visualizar</a></td>
                <td><a href="#" class="excluir">Excluir</a></td>
            </tr>
        </table>

    </div>

</div>

@section Scripts{
    <script src="~/js/medico.js"></script>
}
