@page
@model www.Pages.PrincipalModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Sua Página</title>
    <style>
        
        .custom-grid {
            background-color: #66bb6a;
            color: #fff;
            padding: 40px;
            border-radius: 10px;
            text-align: center;
            height: 300px; 
            margin-bottom: 85px; 
            transition: background-color 0.3s ease-in-out; 
        }

            .custom-grid:hover {
                background-color: #4b8d4b;
                transform: scale(1.05);
            }

        .last-word-bold {
            font-weight: bold;
        }

        .custom-link {
            text-decoration: none;
            color: #fff;
        }

            .custom-link:hover {
                color: #fff; 
                text-decoration: none; 
            }
    </style>
</head>
<body style="background-color: #f8f9fa; ">
   
    <div class="container mt-5">
        <div class="row">
          
            <div class="col-md-4">
                <a href="/Medico" class="custom-link">
                    <div class="custom-grid d-flex align-items-center justify-content-center">
                        <i class="fas fa-user-md fa-3x mb-3"></i>
                        <h2>Cadastro de <span class="last-word-bold">Médico</span></h2>
                       
                    </div>
                </a>
            </div>

          
            <div class="col-md-4">
                <a href="/Paciente" class="custom-link">
                    <div class="custom-grid d-flex align-items-center justify-content-center">
                        <i class="fas fa-user fa-3x mb-3"></i>
                        <h2>Cadastro de <span class="last-word-bold">Paciente</span></h2>
                     
                    </div>
                </a>
            </div>

          
            <div class="col-md-4">
                <a href="/Consulta" class="custom-link">
                    <div class="custom-grid d-flex align-items-center justify-content-center">
                        <i class="far fa-calendar-alt fa-3x mb-3"></i>
                        <h2>Cadastro de <span class="last-word-bold">Consulta</span></h2>
                      
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Footer (seu rodapé) -->
    <!-- Bootstrap JS (opcional, dependendo dos componentes que você estiver usando) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</body>
</html>
